<div class="d-inline all">

  <div class="list-group categories">
    <a href="#" class="list-group-item list-group-item-action">All Caterories</a>
    <a href="#" class="list-group-item list-group-item-action">SameSung</a>
    <a href="#" class="list-group-item list-group-item-action">Nokia</a>
    <a href="#" class="list-group-item list-group-item-action">Lava</a>
    <a href="#" class="list-group-item list-group-item-action">Sony</a>
    <a href="#" class="list-group-item list-group-item-action">Apple</a>
  </div>

  <div class="items">
    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>

    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>
    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>
    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>

    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>

    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>

    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>

    <div class="eachItems d-inline-block">
      <button class="btn">SameSung S7</button>
      <h1>$ 20.5</h1>
    </div>


  </div>
</div>
